* {
    margin: 0;
    padding: 0;
}

:root{
    --main-color: #69BDAD;
    --background: #fff;
}

body{
    background-color: var(--background);
    min-height: 100vh;
    font-family: "Arial Rounded MT Bold", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.library{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}
.book{
    background-color: var(--main-color);
    height: 280px;
    padding: 10px;
}

.notRead{
    opacity: 75%;
}