* {
    margin: 0;
    padding: 0;
}

:root{
    --main-color: #C9AA7A;
    --background: #fff;
}

body{
    background-color: var(--background);
    min-height: 100vh;
    font-family: "Arial Rounded MT Bold", sans-serif;
    display: flex;
    flex-direction: column;
}

.library{
    display: grid;
    gap: 10px;
}
.book{
    background-color: var(--main-color);
}