* {
    margin: 0;
    padding: 0;
}

:root{
    --main-color: #69BDAD;
    --sub-color: #BBC6C8;
    --background: #fff;
}

body{
    background-color: var(--background);
    min-height: 100vh;
    font-family: "Arial Rounded MT Bold", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.library{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}
.book{
    background-color: var(--main-color);
    height: 280px;
    padding: 10px;
}

.notRead{
    opacity: 75%;
}

.popupForm{
    visibility: hidden;
    width: 270px;
    height: 130px;
    background-color: var(--sub-color);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.icon{
    width: 20px;
    height: auto;
    align-self: flex-end;
}